:root {
  --clr-border: #ffffff1a;
  --clr-texture: linear-gradient(#77d6ff14, #caa9ff14);
  --clr-purple: linear-gradient(275deg, #7b00ff 5%, #881aff 90%);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  font-family: 'Manrope', sans-serif;
}

input {
  all: unset;
}