.container {
  padding: 1em;
  border-radius: 0.375rem;
  border: 1px solid var(--clr-border);
  background-image: var(--clr-texture);
}

.header {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.subHeaderGroup {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.subHeaderText {
  font-size: 1.2rem;
  margin-right: 0.4em;
}

.content {}

.contentCheck {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  border-top: 2px dotted #ffffff50;
}

.contentCheck:last-of-type {
  padding-bottom: 0;
}

.checkHeadGroup {
  display: flex;
  align-items: center;
}

.checkHead {
  margin-right: 0.3em;
}
