.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  margin-bottom: 1em;
}

.input {
  font-size: 1.25rem;
  border-radius: 0.375rem;
  width: 18rem;
  padding: 0.3em 0.6em;
  text-overflow: ellipsis;
  background-image: var(--clr-texture);
  border: 2px solid transparent;
  transition: 250ms;
}

.input:hover {
  border: 2px solid #0055ff4e;
}

.label {
  padding: 1em;
  border-radius: 0.375rem;
  border: 1px solid var(--clr-border);
  background-image: var(--clr-texture);
}

.header {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

.subHeader {
  font-size: 1.2rem;
}
